1. Load the dataset using pandas 
2. Extract data fromOutcome column is a variable named Y 
3. Extract data from every column except Outcome column in a variable named X
4. Divide the dataset into two parts for training and testing in 70% and 30% proportion 
5. Create and train Decision Tree Model on training set 
6. Make predictions based on the testing set using the trained model 
7. Check the performance by calculating the confusion matrix and accuracy score of the mode

In [17]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import accuracy_score,confusion_matrix

In [2]:
data = pd.read_csv('diabetes.csv')

In [3]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
x = data.drop(columns = ['Outcome'])

In [5]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [6]:
y = data['Outcome']

In [7]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [8]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [9]:
sc = StandardScaler()

In [10]:
xtrain = sc.fit_transform(x_train)

In [11]:
xtest = sc.transform(x_test)

In [12]:
DTC = DecisionTreeClassifier(random_state=0)

In [13]:
DTC.fit(xtrain,y_train)

DecisionTreeClassifier(random_state=0)

In [14]:
ypred = DTC.predict(xtest)

In [15]:
accuracy_score(y_test,ypred)

0.7229437229437229

In [16]:
confusion_matrix(y_test,ypred)

array([[124,  33],
       [ 31,  43]])