You work in XYZ Company as a Python Data Scientist. The company officials have collected some data on 
Health parameter based on Diabetes and wish for you to create a model from it.

1. Load the dataset using pandas 
2. Extract data fromOutcome column is a variable named Y 
3. Extract data from every column except Outcome column in a variable named X 
4. Divide the dataset into two parts for training and testing in 70% and 30% proportion 
5. Create and train Logistic Regression Model on training set 
6. Make predictions based on the testing set using the trained model 
7. Check the performance by calculating the confusion matrix and accuracy score of the model

In [86]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score,confusion_matrix,accuracy_score
from sklearn.preprocessing import StandardScaler

In [65]:
data = pd.read_csv('diabetes.csv')

In [66]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [67]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [68]:
X = data.drop('Outcome',axis=1)

In [69]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [70]:
Y = data['Outcome']

In [71]:
Y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [72]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3,random_state=1)

In [73]:
X_train.shape

(537, 8)

In [74]:
X_test.shape

(231, 8)

In [75]:
sc = StandardScaler()

In [76]:
x_train = sc.fit_transform(X_train)

In [78]:
x_test = sc.transform(X_test)

In [79]:
reg_model = LogisticRegression()

In [80]:
reg_model.fit(x_train,Y_train)

LogisticRegression()

In [84]:
Y_pred = reg_model.predict(x_test)

In [83]:
confusion_matrix(Y_test,Y_pred)

array([[132,  14],
       [ 36,  49]])

In [87]:
accuracy_score(Y_test,Y_pred)

0.7835497835497836