In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix

In [ ]:
df = pd.read_csv('Iris.data')

In [ ]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
cols = ['sepal-len','sepal-wid','petal-len','petal-wid','class']
df.columns = cols
df.head()

   sepal-len  sepal-wid  petal-len  petal-wid        class
0        4.9        3.0        1.4        0.2  Iris-setosa
1        4.7        3.2        1.3        0.2  Iris-setosa
2        4.6        3.1        1.5        0.2  Iris-setosa
3        5.0        3.6        1.4        0.2  Iris-setosa
4        5.4        3.9        1.7        0.4  Iris-setosa

In [ ]:
scale = StandardScaler()

In [ ]:
x = df.iloc[:,:-1]

In [ ]:
y = df['class']

In [ ]:
x_scaled = scale.fit_transform(x)

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size = 0.3,random_state = 1)

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(n_components = 2)

In [ ]:
xtrain = pca.fit_transform(x_train)
xtest = pca.transform(x_test)

In [ ]:
variance_features = pca.explained_variance_ratio_

In [ ]:
variance_features

array([0.74520074, 0.2121311 ])