1. Create a list named ‘myList’ that has the following elements: 10,20,30,’apple’, True, 8.10. 

a. Now in the ‘myList’, append these values: 30,40 

b. After that reverse the elements of the ‘myList’ and store that in ‘reversedList’

In [21]:
myList = [10,20,30,'apple',True,8.10]
myList
myList.append(30)
myList.append(40)
print(myList)

reversedList = reversed(myList)
reversedList

[10, 20, 30, 'apple', True, 8.1, 30, 40]

[40, 30, 8.1, True, 'apple', 30, 20, 10]

2. Create a dictionary ‘Country’ that maps the following countries to their capitals respectively:

Country	India	China	Japan	Qatar	France

State	Delhi	Beijing	Tokyo	Doha	Marseilles

Find 2 commands to replace “Marseilles” with “Paris”.

In [34]:

country = {"India":"Delhi","China":"Beijing","Japan":"Tokyo","Quatar":"Doha","France":"Marseilles"}

print(country)

country["France"] = "Paris"

print(country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Quatar': 'Doha', 'France': 'Marseilles'}
{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Quatar': 'Doha', 'France': 'Paris'}

3. Create the tuples given below 

tuple_1 = (1,5,6,7,8) 

tuple_2 = (8,9,4) 

Identify which of the following code does not work on a tuple.

	a) sum(tuple_1)
	b) len(tuple_2)
	c) tuple_2 + tuple_1
	d) tuple_1[3] = 45

In [40]:
tuple_1 = (1,5,6,7,8) 
tuple_2 = (8,9,4) 

print(sum(tuple_1))
print(len(tuple_2))
print(tuple_2 + tuple_1)

# below command doesnot work as tuple is immutable
tuple_1[3] = 45

27
3
(8, 9, 4, 1, 5, 6, 7, 8)

TypeError: ignored

4. Create two tuples named numeric_tuple consisting of only integer values 10,20,30,40,50 and my_tuple which will have 30,60,50,’tup’ values

a. Find the minimum value from the numeric_tuple.

b. Concatenate my_tuple with numeric_tuple and store the result in r1.

c. Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli’.

In [42]:
numeric_tuple = (10,20,30,40,50)
my_tuple = (30,60,50,'tup')

print("min of numeric_tuple is:",min(numeric_tuple))

r1 = numeric_tuple + my_tuple
print(r1)

newdupli = my_tuple*2

print(newdupli)

min of numeric_tuple is: 10
(10, 20, 30, 40, 50, 30, 60, 50, 'tup')
(30, 60, 50, 'tup', 30, 60, 50, 'tup')

5. Find the total number of elements present in the below set:

![image.png]()

In [49]:
S = {1,2,3,4,4,4,5,6}
print(S)

# number of elements in set will be 6 as set doesnot store duplicate values

#first way
print("number of elements in S are:",len(S))

#Second way
count = 0
for i in S:
  count+=1

print("number of elements in S are:",count)

{1, 2, 3, 4, 5, 6}
number of elements in S are: 6
number of elements in S are: 6

6. Create an array with whole numbers values from 0 to 10 and find what is the command to extract the elements in the following sequence - 
array ([7,4,1])

In [76]:
import numpy as np

arr = np.arange(11)
print(arr)

#extracting [7,4,1] with negative indexing
print(arr[-4::-3])

#extracting with positive indexing
print(arr[7::-3])

[ 0  1  2  3  4  5  6  7  8  9 10]
[7 4 1]
[7 4 1]

7. Create a NumPy array having user input values and convert the integer type to the float type of the elements of the array. 

For instance:

Original array [1, 2, 3, 4] 

Array converted to a float type: [ 1. 2. 3. 4.]

In [74]:

arr = np.array([1,2,3,4])
print(arr)

b_arr = arr.astype(float)
print(b_arr)

[1 2 3 4]
[1. 2. 3. 4.]

8. Write a NumPy program to append values to the end of an array. 

For instance:
Original array: [10, 20, 30] 

After append values to the end of the array:

 [10 20 30 40 50 60 70 80 90]

In [79]:
arr1 = np.array([10,20,30])
arr2 = np.array([40,50,60,70,80,90])

np.append(arr1,arr2)

array([10, 20, 30, 40, 50, 60, 70, 80, 90])

9. Create a 2 dimensional array with 3 rows and 3 columns containing random numbers from 1 to 9. Find the difference between the maximum element across the columns and the minimum element across the rows.

In [84]:
a_arr = np.random.randint(1,9,(3,3))

print(a_arr)

b= a_arr.max(axis=0)
print("Max across column is: ",b)
c = a_arr.min(axis=1)
print("Min across row is: ",c)

diff = b - c
print("Difference is:",diff)

[[8 1 7]
 [4 1 3]
 [6 3 6]]
Max across column is:  [8 3 7]
Min across row is:  [1 1 3]
Difference is: [7 2 4]

10. Create a 3*3 array having values from 10-90(interval of 10) and store that in array1. 

Perform the following tasks:

a. Extract the 1st row from the array.

b. Extract the last element from the array.

In [95]:
array1 = np.arange(10,100,10)
print(array1)
array2 = np.reshape(array1,(3,3))
print(array2)

# first row of array2
array2[0:1,:]

#Last element of array
array2[-1,-1]

[10 20 30 40 50 60 70 80 90]
[[10 20 30]
 [40 50 60]
 [70 80 90]]

90