1. Consider the following data to answer the question below

![image.png]()

What is the command to convert the above dictionary into a dataframe named ‘df_state’?

In [3]:
import numpy as np
import pandas as pd

In [9]:
state_data = {'state':['Goa','Goa','Goa','Gujarat','Gujarat','Gujarat'],
              'year':[2010,2011,2012,2013,2014,2015],
              'pop':[2.5,2.7,4.6,3.4,3.9,4.2]
              }

state_data

{'pop': [2.5, 2.7, 4.6, 3.4, 3.9, 4.2],
 'state': ['Goa', 'Goa', 'Goa', 'Gujarat', 'Gujarat', 'Gujarat'],
 'year': [2010, 2011, 2012, 2013, 2014, 2015]}

In [10]:
#converting above dictionary to dataframe
df_state = pd.DataFrame(state_data)
df_state

     state  year  pop
0      Goa  2010  2.5
1      Goa  2011  2.7
2      Goa  2012  4.6
3  Gujarat  2013  3.4
4  Gujarat  2014  3.9
5  Gujarat  2015  4.2

2. List 3 commands to display the columns of the above dataframe df_state.

In [13]:
#1st way
df_state.columns

Index(['state', 'year', 'pop'], dtype='object')

In [15]:
#2nd way
df_state.head()

     state  year  pop
0      Goa  2010  2.5
1      Goa  2011  2.7
2      Goa  2012  4.6
3  Gujarat  2013  3.4
4  Gujarat  2014  3.9

In [16]:
# 3rd way
df_state.dtypes

state     object
year       int64
pop      float64
dtype: object

3. Correlation between two variables X&Y is 0.85. Now, after adding the value 2 to all the values of X, the correlation co-efficient will be______

In [ ]:
# correlation coefficient will be 0.85 only

4. A) Read the given dataset “Tips.csv” as a dataframe “Data”. Give 3 commands to extract the columns in the following sequence - Time, TotalBill, Tips?

B)	Read the given excel sheet ‘Tips1.xlsx’ as a dataframe ‘Data1’. What command should be given to merge the two data frames ‘Data’ and ‘Data1’ by columns?

C)	Copy the 'Data1' dataframe as 'Data2'  (Data2 = Data1.copy()) and identify the command to find the total tips received across Day’s from the dataframe ‘Data2’?

In [4]:
#A
Data = pd.read_csv("Tips.csv")

#if 3 columns needs to be extracted seperately
df1 = Data['Time']
df2 = Data['TotalBill']
df3 = Data['Tips']

In [42]:
#B
Data1 = pd.read_excel("Tips1.xlsx")
Data1.head()

#merging two dataframes Data and Data1 on specific unique column

Data.merge(Data1,on="SINO")

    SINO  TotalBill  Tips Smoker  Day    Time  Size Gender_x Gender_y
0      1      16.99  1.01     No  Sun  Dinner   2.0   Female   Female
1      2      10.34  1.66     No  Sun  Dinner   3.0     Male     Male
2      3      21.01  3.50     No  Sun  Dinner   3.0     Male     Male
3      4      23.68  3.31     No  Sun  Dinner   2.0     Male     Male
4      5      24.59  3.61     No  Sun  Dinner   4.0   Female   Female
..   ...        ...   ...    ...  ...     ...   ...      ...      ...
95    96      40.17  4.73    Yes  Fri  Dinner   4.0     Male     Male
96    97      27.28  4.00    Yes  Fri  Dinner   2.0     Male     Male
97    98      12.03  1.50    Yes  Fri  Dinner   2.0     Male     Male
98    99      21.01  3.00    Yes  Fri  Dinner   2.0     Male     Male
99   100      25.10   NaN     No  NaN   Lunch   2.0      NaN      NaN

[100 rows x 9 columns]

In [43]:
#C
#I am assuming you wanted to copy Data2 from Data instead of Data1 , 
# as Data1 (Tips.xlsx) contains only SINO,GENDER columns

Data2 = Data.copy()
Data2.head()

#total tips received across days
Data2.groupby('Day').agg({'Tips':"sum"})

        Tips
Day
Fri    28.28
Sat   102.79
Sun   102.28
Thur   41.99