1.	There are 3 arrangements of the word DAD, namely DAD, ADD, and DDA. How many arrangements are there of the word ENDURINGLY?

In [ ]:
# Given word is ENDURINGLY
# Number of letters = 10
#num of repetitive letters - N - two times
# Number of arrangements that can be done = 10!/2! = 1814400

# So ENDURINGLY can be arranged in 1814400 ways

2.	There are 13 men and 12 women in a ballroom dancing class. If 6 men and 6 women are chosen and paired off, how many pairings are possible?

In [ ]:
# Num of men = 13
# Num of women = 12

# Num of ways 6 men can be selected  = 13C6 = 13!/((13-6)!*6!) = 13!/(7!*6!) = 1716
# Num of ways 6 women can be selected  = 12C6 = 12!/((12-6)!*6!) = 12!/(6!*6!) = 924

# num of possible ways of pairing 6 women and 6 men = 6! = 720

#Number of ways 6 men and 6 women are selected and paired  = 1716 * 924 * 720 = 1141620480

3.	Suppose you are taking a multiple-choice test with 4 choices for each question. In answering a question on this test, the probability that you know the answer is 0.33. If you don’t know the answer, you choose one at random. What is the probability that you knew the answer to a question, given that you answered it correctly?

In [ ]:
# let E1 is the probability that I know the answer.
# E1 = 0.33

# let E2 is the probability that I do not know the answer.
# E2 = 0.67

# Probability of choosing correct answer P(A)= 1/4 = 0.25
# Probability of choosing wrong answer P(B)= 3/4 = 0.75

# Probability of anwering the question correctly given that I knew the answer = 0.33/(0.33+(0.67*0.25)
#                                                                             = 0.6633

4.	Read the given data ‘TIPS.csv’ as a dataframe named Tips and answer the following question.

a) In the tips dataframe, for the variable “total bill” what is the 3rd quartile and maximum value? 

b) The range of the variable “TotalBill”?

In [3]:
import pandas as pd

Tips = pd.read_csv("Tips.csv")
Tips.head()

   SINO  TotalBill  Tips Smoker  Day    Time  Size  Gender
0     1      16.99  1.01     No  Sun  Dinner   2.0  Female
1     2      10.34  1.66     No  Sun  Dinner   3.0    Male
2     3      21.01  3.50     No  Sun  Dinner   3.0    Male
3     4      23.68  3.31     No  Sun  Dinner   2.0    Male
4     5      24.59  3.61     No  Sun  Dinner   4.0  Female

In [4]:
# maximum of "Total bill"

Tips['TotalBill'].max()

48.27

In [5]:
# 3rd quantile of Totalbill

Tips['TotalBill'].quantile(0.75)

23.964999999999996

5.	A normal distribution which has a mean of 50 and standard deviation of 7 is taken into consideration.

68% of the distribution can be found between what two numbers?

a)	40 and 60

b)	0 and 43

c)	0 and 68

d)	43 and 57

In [ ]:
# Given mean = 50 , standarad deviation = 7

# P(mean - st.dev <= X <= mean + st.dev) = 0.68
# P(50-7 <= X <= 50+7) = 0.68
# P(43 <= X <= 57) = 0.68

# so 68% of distribution can be found between 43 and 57

6.	Consider the data X = (58,59,63,60,60,63,60,57,58,59). An unbiased estimation for population variance would be ____

In [10]:
import numpy as np
X = np.array([58,59,63,60,60,63,60,57,58,59])
X.var()

3.6099999999999994

7.	From the given below boxplot identify the median value and the outlier.

![image.png]()

In [ ]:
# Median is the value with thick black line which is approximately 27

# ouotliers are points out side minimum and maximum of the box plot 
#which are less than 3 (approx) and greater than 77(approx)