You work in XYZ Corporation as a Data Analyst. Your corporation has told you to analyze the 
customer_churn dataset with various functions.

1. Display the top 100 records from the original data frame.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("customer_churn-2.csv")

In [3]:
df.shape

(7043, 21)

In [5]:
df.head(100)

    customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0   7590-VHVEG  Female              0  ...          29.85        29.85     No
1   5575-GNVDE    Male              0  ...          56.95       1889.5     No
2   3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3   7795-CFOCW    Male              0  ...          42.30      1840.75     No
4   9237-HQITU  Female              0  ...          70.70       151.65    Yes
..         ...     ...            ...  ...            ...          ...    ...
95  8637-XJIVR  Female              0  ...          78.95       927.35    Yes
96  9803-FTJCG    Male              0  ...          66.85       4748.7     No
97  0278-YXOOG    Male              0  ...          21.05       113.85    Yes
98  3212-KXOCR    Male              0  ...          21.00       1107.2     No
99  4598-XLKNJ  Female              1  ...          98.50       2514.5    Yes

[100 rows x 21 columns]

2. Display the last 10 records from the data frame.

In [6]:
df.tail(10)

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
7033  9767-FFLEM    Male              0  ...          69.50      2625.25     No
7034  0639-TSIQW  Female              0  ...         102.95      6886.25    Yes
7035  8456-QDAVC    Male              0  ...          78.70       1495.1     No
7036  7750-EYXWZ  Female              0  ...          60.65        743.3     No
7037  2569-WGERO  Female              0  ...          21.15       1419.4     No
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[10 rows x 21 columns]

3. Display the last record from the data frame.

In [7]:
df.tail(1)

      customerID gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
7042  3186-AJIEK   Male              0  ...         105.65       6844.5     No

[1 rows x 21 columns]