You work in XYZ Corporation as a Data Analyst. Your corporation has told you to analyze the 
customer_churn dataset with various functions.

1. Now from the churn data frame, try to sort the data by the tenure column according to the 
descending order.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("customer_churn-3.csv")

In [3]:
df.sort_values("tenure",ascending=False)

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
1672  4737-AQCPU    Male              0  ...          72.10      5016.65     No
193   9680-NIAUV  Female              0  ...         109.70       8129.3     No
4553  5914-XRFQB    Male              0  ...         115.80       8424.9     No
483   5168-MQQCA  Female              0  ...         108.50       8003.8     No
3266  0464-WJTKO  Female              0  ...          20.10      1460.85     No
...          ...     ...            ...  ...            ...          ...    ...
1082  4367-NUYAO    Male              0  ...          25.75                  No
3826  3213-VVOLG    Male              0  ...          25.35                  No
936   5709-LVOEQ  Female              0  ...          80.85                  No
6754  2775-SEFEE    Male              0  ...          61.90                  No
1340  1371-DWPAZ  Female              0  ...          56.05                  No

[7043 rows x 21 columns]

2. Fetch all the records that are satisfying the following condition:
a. Tenure>50 and the gender as ‘Female’.

In [5]:
df.loc[(df.tenure>50)&(df.gender=="Female")]

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
15    3655-SNQYZ  Female              0  ...         113.25      7895.15     No
16    8191-XWSZG  Female              0  ...          20.65      1022.95     No
23    3638-WEABW  Female              0  ...          59.90       3505.1     No
30    3841-NFECX  Female              1  ...          96.35      6766.95     No
35    6234-RAAPL  Female              0  ...          99.90       7251.7     No
...          ...     ...            ...  ...            ...          ...    ...
7023  1035-IPQPU  Female              1  ...         103.50       6479.4     No
7028  9281-CEDRU  Female              0  ...          64.10      4326.25     No
7034  0639-TSIQW  Female              0  ...         102.95      6886.25    Yes
7037  2569-WGERO  Female              0  ...          21.15       1419.4     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No

[1022 rows x 21 columns]

b. Gender as ‘Male’ and SeniorCitizen as 0.

In [6]:
df.loc[(df.gender=="Male")&(df.SeniorCitizen==0)]

      customerID gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
1     5575-GNVDE   Male              0  ...          56.95       1889.5     No
2     3668-QPYBK   Male              0  ...          53.85       108.15    Yes
3     7795-CFOCW   Male              0  ...          42.30      1840.75     No
6     1452-KIOVK   Male              0  ...          89.10       1949.4     No
9     6388-TABGU   Male              0  ...          56.15      3487.95     No
...          ...    ...            ...  ...            ...          ...    ...
7027  0550-DCXLH   Male              0  ...          73.35       931.55     No
7033  9767-FFLEM   Male              0  ...          69.50      2625.25     No
7035  8456-QDAVC   Male              0  ...          78.70       1495.1     No
7038  6840-RESVB   Male              0  ...          84.80       1990.5     No
7042  3186-AJIEK   Male              0  ...         105.65       6844.5     No

[2981 rows x 21 columns]

c. TechSupport as ‘Yes’ and Churn as ‘No’.

In [7]:
df.loc[(df.TechSupport=="Yes")&(df.Churn=="No")]

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
3     7795-CFOCW    Male              0  ...          42.30      1840.75     No
14    5129-JLPIS    Male              0  ...         105.50      2686.05     No
15    3655-SNQYZ  Female              0  ...         113.25      7895.15     No
23    3638-WEABW  Female              0  ...          59.90       3505.1     No
24    6322-HRPFA    Male              0  ...          59.60       2970.3     No
...          ...     ...            ...  ...            ...          ...    ...
7027  0550-DCXLH    Male              0  ...          73.35       931.55     No
7028  9281-CEDRU  Female              0  ...          64.10      4326.25     No
7036  7750-EYXWZ  Female              0  ...          60.65        743.3     No
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[1734 rows x 21 columns]

d. Contract type as ‘Month-to-month’ and Churn as‘Yes’.

In [8]:
df.loc[(df.Contract=="Month-to-month")&(df.Churn=="Yes")]

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
2     3668-QPYBK    Male              0  ...          53.85       108.15    Yes
4     9237-HQITU  Female              0  ...          70.70       151.65    Yes
5     9305-CDSKC  Female              0  ...          99.65        820.5    Yes
8     7892-POOKP  Female              0  ...         104.80      3046.05    Yes
13    0280-XJGEX    Male              0  ...         103.70       5036.3    Yes
...          ...     ...            ...  ...            ...          ...    ...
7018  1122-JWTJW    Male              0  ...          70.65        70.65    Yes
7026  8775-CEBBJ  Female              0  ...          44.20       403.35    Yes
7032  6894-LFHLY    Male              1  ...          75.75        75.75    Yes
7034  0639-TSIQW  Female              0  ...         102.95      6886.25    Yes
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes

[1655 rows x 21 columns]