1. Create a table in excel, table should have 2 columns named x and y. 
a. ‘x’ column should have numbers from 1-5.
b. ‘y’ should have numbers 2,4,5,4,2
c. Now calculate the mean of columns x and y.
d. Calculate the mode of column x.
e. Calculate the standard deviation of column y.
f. Atlast calculate the range of columns x and y seperatly.

In [ ]:
import pandas as pd
import statistics as st

In [ ]:
df=pd.read_excel("Statistics Assignment.xlsx")

In [ ]:
df.head()

   X  Y
0  1  2
1  2  4
2  3  5
3  4  5
4  5  2

In [ ]:
df.shape

(5, 2)

In [ ]:
df.mean(axis=0)

X    3.0
Y    3.6
dtype: float64

In [ ]:
df.mode(axis=0)

   X    Y
0  1  2.0
1  2  5.0
2  3  NaN
3  4  NaN
4  5  NaN

In [ ]:
df1=df.iloc[: , 0:1]

In [ ]:
df1

   X
0  1
1  2
2  3
3  4
4  5

In [ ]:
df1.mode()

   X
0  1
1  2
2  3
3  4
4  5

In [ ]:
df2=df.iloc[: , 1:]

In [ ]:
df2

   Y
0  2
1  4
2  5
3  5
4  2

In [ ]:
df2.std()

Y    1.516575
dtype: float64

In [ ]:
range_X=df1.max()-df1.min()
range_X

X    4
dtype: int64

In [ ]:
range_Y=df2.max()-df2.min()
range_Y

Y    3
dtype: int64