In [ ]:
#OOPS Object Oriented Programing and POPS (Procedural oriented programing)
#classes
#objects
#methods
#implementation

In [ ]:
#introduction about OOPS
# CONCEPT OF CLASSES AND OBJECTS

In [ ]:
#class
class demo:
  def fun1(self,x,y):
    return x*y

  def fun2(self,x,y):
    return x+y

In [ ]:
fun1(90,8)

NameError: ignored

In [ ]:
#only object can access the functionality of class
#creating object
obj1=demo()

In [ ]:
obj1.fun1(7,9)

63

In [ ]:
obj1.fun2(5,15)

20

In [ ]:
#class
class demo:
  def fun1(self,x,y):
    return x*y

  def fun2(self,x,y):
    return x+y 

obj2=demo()
obj2.fun1(2,4)
obj2.fun2(4,6)

10

In [ ]:
class student:

  def details(self,s_id,name,grade):
    print("student id is : ",s_id)
    print("student name is ",name)
    print("student grade is ",grade)
  
  def fee_status(self,status):
    print("fee payment status is",status)

In [ ]:
s1=student()

In [ ]:
s1.details(101,"Ramana","B")

student id is :  101
student name is  Ramana
student grade is  B

In [ ]:
s1.fee_status("paid")

fee payment status is paid

In [ ]:
s1.details(102,"venky","A")

student id is :  102
student name is  venky
student grade is  A

In [ ]:
#local environment
class xyz:
  p=20
  q=30

  def func1(self,a):
    s=a+p
    return s
  
  def fun2(self,b):
    m=b*q
    return m

In [ ]:
o1=xyz()

In [ ]:
o1.func1(100)

NameError: ignored

In [ ]:
#local environment
class xyz:
  p=20
  q=30

  def func1(self,a):
    s=a+self.p
    return s
  
  def fun2(self,b):
    m=b*self.q
    return m

In [ ]:
o2=xyz()

In [ ]:
o2.func1(100)

120

In [ ]:
o2.fun2(10)

300

In [ ]:
self.p=20

NameError: ignored

In [ ]:
#global environment

x=100
class demo:

  def fun1(self,a):
    return x+a
  
  def fun2(self,b):
    return x*b

In [ ]:
ob1=demo()

In [ ]:
ob1.fun1(100)

200

In [ ]:
ob1.fun2(3)

300

In [ ]:
#case study --> Banking system (view all your variables)

# check balance ==> chelps to view  current balance (main_balance)

# credit/deposit ==> helps to credit amount (adding it to main_balance)

# debit/withdraw ==> helps to debit amount (deducting from main_balance)

class banking_system:

  main_balance=0

  def check_balance(self):
    print("current balance is: ",self.main_balance)


  def deposit(self,credit_amount):
     self.main_balance = self.main_balance+credit_amount
     print("creditied amount is: ",credit_amount)    

  def withdraw(self,debit_amount):
      if self.main_balance >= debit_amount:
        self.main_balance = self.main_balance - debit_amount
        print ("debited amount is:",debit_amount)
      else:
        print("insufficient funds")

In [ ]:
p1=banking_system()

In [ ]:
p1.check_balance()

current balance is:  0

In [ ]:
p1.deposit(10000)

creditied amount is:  10000

In [ ]:
p1.check_balance()

current balance is:  10000

In [ ]:
p1.withdraw(5000)

debited amount is: 5000

In [ ]:
p1.withdraw(7000)

insufficient funds

In [ ]:
#constructor  __init__(): is a self calling function which will help in inititalize the data members
#helps to assign or pass the input in class at once
#

In [ ]:
#types of constructors
# parameterized - will accept the parameter and helps to assign values to a data member
#non parameterized constructors --> will not accept parameters except self

In [ ]:
#non parameterized constructor

class demo:
  def __init__(self):
    print("constructor invoked")
  
  def fun1(self,x,y):
    return x*y

In [ ]:
obj1=demo()

constructor invoked

In [ ]:
obj1.fun1(10,20)

200

In [ ]:
#class with constructor

class student:

  def __init__(self,ID,name,age,grade,year):
    self.ID=ID
    self.name=name
    self.age=age
    self.grade=grade
    self.year=year
    print("constructor called")
  
  def details(self):
    print("student ID ",self.ID)
    print("name of the student is ",self.name)
    print("age of the student ",self.age)
    print("grade of the student is ",self.grade)
    print("student pass out year ",self.year)

  def academic_track(self):
    print("student id is",self.ID)
    print("grade of the student ",self.grade)
    print("student passout year is ",self.year)

In [ ]:
s1=student()

TypeError: ignored

In [ ]:
s2=student(101,"ramana",25,"male",2024)

constructor called

In [ ]:
s2.details()

student ID  101
name of the student is  ramana
age of the student  25
grade of the student is  male
student pass out year  2024

In [ ]:
s2.academic_track()

student id is 101
grade of the student  male
student passout year is  2024

In [ ]:
s3=student(102,"chandhini",23,"female",2027)

constructor called

In [ ]:
s3.details()

student ID  102
name of the student is  chandhini
age of the student  23
grade of the student is  female
student pass out year  2027

In [ ]:
s3.academic_track()

student id is 102
grade of the student  female
student passout year is  2027

In [ ]:
s2.details()

student ID  101
name of the student is  ramana
age of the student  25
grade of the student is  male
student pass out year  2024

In [ ]:
s3.details()

student ID  102
name of the student is  chandhini
age of the student  23
grade of the student is  female
student pass out year  2027

In [ ]:
#inheritance
# single
# multiple
#multi level

In [ ]:
#single inheritance ==> single parent class and single child class

class A:

  def fun1(self):
    print("parent class")

class B(A): # B inherits from A

  def fun2(self):
    print("child class")

In [ ]:
o1=B()

In [ ]:
o1.fun2()

child class

In [ ]:
o1.fun1()

parent class

In [ ]:
o2=A()

In [ ]:
o2.fun1()

parent class

In [ ]:
o2.fun2()

AttributeError: ignored

In [ ]:
class parent:

  a=100


  def __init__(self):


    print("parent class constructor")

  def fun1(self):
    print("parent class")

In [ ]:
class child(parent): # child class inherits from parent class
  def __init__(self):
    print("child class constructor")
  def fun2(self):
    print("parent class variable is: ",self.a)
    print("child class")
    parent.__init__(self)
    parent.fun1(self)

In [ ]:
c1=child()

child class constructor

In [ ]:
c1.fun2()

parent class variable is:  100
child class
parent class constructor
parent class

In [ ]:
#multiple inheritance
#more than one parent class

#A --> parent1
#B --> parent2
#C --> child

In [ ]:
class A:

  def __init__(self):
    print("class A constructor")
  def fun1(self):
    print("A class function")

In [ ]:
class B:

  def __init__(self):
    print("B class constructor")
  
  def fun2(self):
    print("class B function")

In [ ]:
#multiple inheritance

class C(A,B):

  def __init__(self):
    print("class C constructor")
  
  def fun3(self):
    A.__init__(self)
    A.fun1(self)
    B.__init__(self)
    B.fun2(self)
    print("class C function")

In [ ]:
C1=C()

class C constructor

In [ ]:
C1.fun3()

class A constructor
A class function
B class constructor
class B function
class C function

In [ ]:
#multilevel

#A --> B --> C

In [ ]:
class A:

  def __init__(self):
    print("class A constructor")
  def fun1(self):
    print("A class function")


class B(A):

  def __init__(self):
    print("B class constructor")
  
  def fun2(self):
    print("class B function")

class C(B):

  def __init__(self):
    print("class C constructor")
  
  def fun3(self):
    print("class C function")

In [ ]:
o1=B()

B class constructor

In [ ]:
o2=C()

class C constructor

In [ ]:
o2.fun1()

A class function

In [ ]:
o2.fun2()

class B function

In [ ]:
o2.fun3()

class C function

In [ ]:
#polymorphism --> many forms
#method overloading

#method overriding

In [ ]:
#method overloading is not supported by python

def add(x,y):
  return x+y

In [ ]:
def add(x,y,z):
  return x+y+z

In [ ]:
add(1,2)

TypeError: ignored

In [ ]:
#polymorphism implementation

class xyz:
  def fun1(self,x,y):
    return x*y

class test(xyz):
  def fun1(self,x,y):
    return x+y

In [ ]:
o1=xyz()

In [ ]:
o2=test()

In [ ]:
o1.fun1(30,40)

1200

In [ ]:
o2.fun1(10,30)

40

In [ ]:
#encapsulation