Problem Statement:
Consider yourself to be Sam who is a data scientist. He has been invited as a guest lecturer at a college 
to take an introductory session on Python. 
Tasks to be performed:
1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60). 
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times 
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine”
2. Create a list ‘my_list’ with these elements: 
a. First element is a tuple with values 1,2,3 
b. Second element is a tuple with values “a”,”b”,”c”
c. Third element is a tuple with values True,False 
3. Append a new tuple – (1,’a’,True) to ‘my_list’
a. Append a new list – *“sparta”,123+ to my_list 
4. Create a dictionary ‘fruit’ where: 
a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
b. The second key is ‘Cost’ and the values are (85,54,120,70) 
c. Extract all the keys from ‘fruit’
d. Extract all the values from ‘fruit’
5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

1) Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60). a. Concatenate the two tuples and store it in “t_combine” b. Repeat the elements of “t_combine” 3 times c. Access the 3rd element from “t_combine” d. Access the first three elements from “t_combine” e. Access the last three elements from “t_combine”

In [33]:
t1=(10,20,30)
t2=(40,50,60)

t_combine=t1+t2
print(t_combine)

t_combine=t_combine*3
print(t_combine)

print(t_combine[2])
print(t_combine[:3])
print(t_combine[-3:])

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
30
(10, 20, 30)
(40, 50, 60)

2) Create a list ‘my_list’ with these elements: a. First element is a tuple with values 1,2,3 b. Second element is a tuple with values “a”,”b”,”c” c. Third element is a tuple with values True,False

In [34]:
my_list=[(1,2,3),("a","b","c"),(True,False)]
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

3)Append a new tuple – (1,’a’,True) to ‘my_list’ a. Append a new list – *“sparta”,123+ to my_list

In [35]:
my_list.append((1,"a",True))
print(my_list)

my_list.append(["sparta",123])
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]
[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

4) Create a dictionary ‘fruit’ where: a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”) b. The second key is ‘Cost’ and the values are (85,54,120,70) c. Extract all the keys from ‘fruit’ d. Extract all the values from ‘fruit’

In [36]:
fruit={"Fruit":("Apple","Banana","Mango","Guava"),"Cost":(85,54,120,70)}
print(fruit.keys())
print(fruit.values())

dict_keys(['Fruit', 'Cost'])
dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

5)Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

In [37]:
my_set={1,1,"a","a",True,True}
print(my_set)

{1, 'a'}